[build-system]
requires = ["flit_core >=3.3,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lazy_loader"
version = "0.1rc2.dev0"
requires-python = ">=3.8"
authors = [{name = "The Scientific Python Group"}]
readme = "README.md"
license = {file = "LICENSE.md"}
classifiers = ["License :: OSI Approved :: BSD License"]
dynamic = ["description"]

[project.optional-dependencies]
dev = [
    "flit"
]
test = [
    "pytest",
    "black",
    "pre-commit",
    "flake8"
]

[project.urls]
Home = "https://scientific-python.org/specs/spec-0001/"
Source = "https://github.com/scientific-python/lazy-loader"

[tool.flit.sdist]
exclude = ["tests/*"]
